*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.wrap{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.card{
    padding: 20px;
}
.food-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #f4f4f4;
    transition: all 200ms;
    position: relative;
    bottom: 0;
}
.card:hover .food-image{
    background-color: #fdbfbf;
    bottom: 10px;
}
.food-name {
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    text-align: center;
}